<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.koushikdutta.ion"
          android:versionCode="141"
          android:versionName="1.4.1">
    <uses-sdk
            tools:node="replace" android:minSdkVersion="4" android:targetSdkVersion="19"/>
    <application />
</manifest>
